body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.leaflet-container {
  width: 100vw;
  height: 50vh;
}

#line-picker {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
}

#line-picker > img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.line-icon-small {
  width: 25px;
  height: auto;
}

.highlight {
  /* background: radial-gradient(circle at 50%, #000000, #002d8f, #ffffff); */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgb(49, 67, 168) 60%,
    rgba(0, 0, 0, 0) 70%
  );
}

.leaflet-container {
  margin-left: 4.1em;
  margin-bottom: 4.5em;
  height: 800px;
  width: 1075px;
}

.display-flex {
  display: flex;
}
